
    /* * Header Section Start **/
    .header-section{
        height: auto;
        background-color: #272727;
        position: relative;
        
    
    }
    .header-menu{
        height: 40px;
        padding-top: 10px;
    
    }
    .header-social-icon , .number {
        display: inline-block; 
        text-align: center;   
    }
    
    .number{
        padding-left: 4px;
        width: 40%;
        
    }
    .number  a, .header-social-icon ul li a{
        color: rgb(250, 162, 0);
        font-size: 12px;
        font-family: sans-serif;
        text-decoration: none;
        font-family: 'Lobster', cursive;
    
    }
    .header-social-icon{
        
    }
    .header-social-icon ul{
        list-style: none;
        position: relative;
        float: right;
        left: 8px;
        z-index: 2;
    }
    .header-social-icon ul li {
        width: 30px;
        height: auto;
        display: inline;
        margin-right: 12px;
        
    
    }
    
    /** Navigation Section Start **/
    
    .navbar{
        position: sticky;
        top: 0;
        z-index: 1;

    }
    .navigation {
        height: 50px;
        background-color:black;
        margin-top: 10px;
        box-shadow: -1px 1px 13px rgb(214 214 214);
    }
    /* /*  */
    .logo{
        float: left;
        color: rgb(209, 209, 255);
        font-size: 35px;
        margin-left: 12px;
        border-bottom-left-radius: 88%;
        border-bottom-right-radius: 91%;
        box-shadow: 0px 3px 21px -7px #93a9f0;
    }
    .navigation .menu {
        float: right;
    
    }
    .navigation ul{
        list-style-type: none;
        padding-top: 5px;
        height: 50px;
        margin-right: 10px;
    
    
    }
    .navigation ul li ul li{
        display: inline;
        width: 100px;
        padding: 6px;
        margin: 5px;
    }
    .navigation ul li a{
        color:white;
        font-size: 22px;
        text-decoration: none;
        text-align: center;
        
    } 
/* * Header Section End */

@media only screen and (max-width: 767px){
    .header-social-icon ul li {
        position: relative;
        height: 40px;
        width: 100px;

        
    }
    .header-social-icon ul li ul{
        position: absolute;       
        width: auto;
        display: none;
        z-index: 1;
        left: -50px;
    }
    .header-social-icon ul li ul li{
        float: left;
 
       width: 50px;
        height: 50px;
    }
    .header-social-icon ul li ul li a{
        padding: 1px;
        font-size: 33px;
        color: rgb(226, 252, 216);
    }
    .header-social-icon ul li:hover  ul {
    
    display: block;
}

/* navigation */
.navbar{
    position: sticky;
    top: 2px;
}
.navigation ul{
    list-style-type: none;
}
    .navigation ul li {
        position: relative;
        margin-right: 22px;
        
    }
    .navigation ul li ul{
        right: 20px;
        position: absolute;
        background-color: black;
        height: auto;
        width: 200px;
        display: none;text-align: center;
        border: 1px solid #fff;
    }
    .navigation ul li ul li{
        display: block;
        width: 90%;
        border-bottom: 1px solid #fff;

    }
    .navigation ul li ul li a{
        padding: 12px;
        

    }
.navigation ul li:hover  ul {
    
    display: block;
}
}
@media only screen and (min-width:768px){
    .menu-bars{
        display: none;
    }


} 
